/* Add here all your CSS customizations */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  html:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body {
    background-color: #fff !important;
    opacity: 1;
  }
  

html .bg-color-dark,html .bg-dark {
  background-color: #fff !important;
  opacity: 1;
}

html .bg-color-light,
html .bg-light {
	background-color: #f3f3f3 !important;
}

#header .header-nav.header-nav-links.header-nav-light-text nav > ul > li > a, #header .header-nav.header-nav-line.header-nav-light-text nav > ul > li > a {
  color: green;
}
#header .header-nav.header-nav-links nav > ul li:hover > a {
  color: #D83A39;
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
  color: #D83A39;
}

section.section {
	background: #f7f7f7;
	border-top: 5px solid #f1f1f1;
	margin: 0 0;
	padding: 50px 0;
}

html .bg-color-secondary,
html .bg-secondary {
  background-color:#D83A39 !important;
}
.tint {
  opacity: .5;
}

section.section {
	background: #f7f7f7;
	border-top: 5px solid green;
	margin: 0 0;
	padding: 50px 0;
}

html .btn-primary {
	background-color: #D83A39;
	border-color: #D83A39 #D83A39 #D83A39;
  color: #FFF;
}

html .btn-primary:hover {
	background-color: #c02626;
	border-color: #c02626 #c02626 #c02626;
	color: #FFF;
}

html .btn-primary:active {
	background-color: #D83A39 !important;
	background-image: none !important;
	border-color: #D83A39#D83A39 #D83A39 !important;
}

html body .tabs.tabs-bottom .nav-tabs li .nav-link:hover,
html.dark body .tabs.tabs-bottom .nav-tabs li .nav-link:hover,
html body .tabs.tabs-bottom .nav-tabs li.active .nav-link,
html.dark body .tabs.tabs-bottom .nav-tabs li.active .nav-link,
html body .tabs.tabs-bottom .nav-tabs li.active .nav-link:hover,
html.dark body .tabs.tabs-bottom .nav-tabs li.active .nav-link:hover,
html body .tabs.tabs-bottom .nav-tabs li.active .nav-link:focus,
html.dark body .tabs.tabs-bottom .nav-tabs li.active .nav-link:focus {
	border-bottom-color: #D83A39;
}

html body .tabs.tabs-simple .nav-tabs > li.active .nav-link,
html.dark body .tabs.tabs-simple .nav-tabs > li.active .nav-link,
html body .tabs.tabs-simple .nav-tabs > li.active .nav-link:focus,
html.dark body .tabs.tabs-simple .nav-tabs > li.active .nav-link:focus,
html body .tabs.tabs-simple .nav-tabs > li .nav-link:hover,
html.dark body .tabs.tabs-simple .nav-tabs > li .nav-link:hover,
html body .tabs.tabs-simple .nav-tabs > li.active .nav-link:hover,
html.dark body .tabs.tabs-simple .nav-tabs > li.active .nav-link:hover {
	border-top-color: #D83A39;
	color: #D83A39;
}

html .divider.divider-primary.divider-small hr {
  background: #D83A39;
}

#googlemaps {
  height: 389px;
}

@media only screen and (max-width: 768px) {
  .custom-btn {
    font-size: 50px;
    margin-top: 80px !important; 
  }
  .top-label {
    font-size: 24px !important;  
  }
  .main-label {
    font-size: 25px !important;
    margin-top: 30px !important;
  }
  .bottom-label {
    font-size: 20px !important;
    margin-top: 50px !important;
  }
}